<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col-md-12 my-md-3">
            <button class="btn btn-success" routerLink="/abrir-chamado">Nova tarefa</button>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nome</th>
                <th scope="col">Responsável</th>
                <th scope="col">Status</th>
                <th scope="col">Abertura</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mudar tal coisa</td>
                <td>Jaison</td>
                <td>Concluído</td>
                <td>15/05/19</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Arrumar outra</td>
                <td>Gabriel</td>
                <td>Em andamento</td>
                <td>18/08/19</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Arrumar outra</td>
                <td>Igor</td>
                <td>Atrasado</td>
                <td>05/07/19</td>
            </tr>
        </tbody>
    </table>
</div>