<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col-md-12 my-md-3">
            <button class="btn btn-success" routerLink="/cad-usuario">Novo usuário</button>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Grupo de acesso</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of Usuarios">
                <td>{{usuario.id}}</td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.login}}</td>
                <td>{{usuario.grupo}}</td>
                <td>
                    <button type="button" class="btn btn-success" routerLink="/usuario-detalhe/{{usuario.id}}">
                        Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>