<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col-md-12 my-md-3">
            <button class="btn btn-success" routerLink="/cad-usuario">Novo usuário</button>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Grupo de acesso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1</td>
                <td>administrador</td>
                <td>admin</td>
                <td>Admin</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>2</td>
                <td>Gabriel Raimondi</td>
                <td>Gabriel</td>
                <td>User</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>3</td>
                <td>Igor Bigodin Ponchielli</td>
                <td>Igostoso</td>
                <td>User</td>
            </tr>
        </tbody>
    </table>
</div>