<app-nav-bar></app-nav-bar>

<div class="container h-100 center-div">
    <div class="my-3">
        <button type="button" class="btn btn-dark" routerLink="/usuarios">Voltar</button>
    </div>
    <div *ngIf="cadastrado" id="alertSucesso" class="alert alert-success box-msg" align="center" role="alert">
        Usuario cadastrado com sucesso!
    </div>
    <div class="d-flex justify-content-center h-100">
        <form #formUsuario="ngForm" (ngSubmit)="onSubmit(formUsuario)" class="col-8">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputNome">Nome</label>
                    <input name="inputNome" type="Text" class="form-control" id="inputNome" required
                        #inputNome="ngModel" [(ngModel)]="usuario.nome">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputLogin">Login</label>
                    <input name="inputLogin" type="Text" class="form-control" id="inputLogin" required
                        #inputLogin="ngModel" [(ngModel)]="usuario.login">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputSenha">Senha</label>
                    <input name="inputSenha" type="password" class="form-control" id="inputSenha" required
                        #inputSenha="ngModel" [(ngModel)]="usuario.senha">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputConfirmarSenha">Confirmar Senha</label>
                    <input name="inputConfirmarSenha" type="password" class="form-control" id="inputConfirmarSenha" required
                    #inputConfirmarSenha="ngModel" [(ngModel)]="confirmarSenha">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="selectGrupoAcesso">Grupo de acesso</label>
                    <select name="selectGrupoAcesso" class="form-control" id="selectGrupoAcesso" required
                        #selectGrupoAcesso="ngModel" [(ngModel)]="usuario.grupo">
                        <option selected>User</option>
                        <option>Admin</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-md-3" [disabled]="!formUsuario.valid">Cadastrar usuário</button>
        </form>
    </div>
</div>