:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #d31515;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #6a9931;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6b706b;
    --gray-dark: #474f49;
    --primary: #007bff;
    --secondary: #6b706b;
    --success: #6a9931;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #222922;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; 
    --font-family-sans-serif: "Trebuchet MS", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

.required:after {
    content: "*";
    color: var(--red); 
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}