<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">H-HelpDesk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav mr-auto"></div>
        <form class="form-inline my-2 my-lg-0">
            <div class="mx-md-3">
                <span class="text-white">User</span>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/" type="button">Login</button>
        </form>
    </div>
</nav>

<div class="container h-100 center-div">
    <div class="d-flex justify-content-center h-100 user_card_container">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="assets/img/Logo_HH.png"
                        class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <form #form="ngForm">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="nome" id="nome" class="form-control input_user" value=""
                            placeholder="username" [(ngModel)]="usuario.nome">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="senha" id="senha" class="form-control input_pass" value=""
                            placeholder="password" [(ngModel)]="usuario.senha">
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center my-3 login_container">
                <button type="submit" name="button" class="btn login_btn" (click)="fazerLogin()"> Login</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center login_container m-3 alert" role="alert">
            Usuário: admin<br />
            Senha: admin
        </div>
</div>