<div class="container my-md-3">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputSolicitante">Solicitante</label>
                <input name="inputSolicitante" type="Text" class="form-control" id="inputSolicitante">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCliente">Cliente</label>
                <input name="inputCliente" type="Text" class="form-control" id="inputCliente">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputTítulo">Título</label>
                <input name="inputTítulo" type="Text" class="form-control" id="inputTítulo">
            </div>
            <div class="form-group col-md-6">
                <label for="selectTipo">Tipo</label>
                <select name="selectTipo" id="selectTipo" class="form-control">
                    <option selected>Interno</option>
                    <option>Melhoria</option>
                    <option>Correção</option>
                    <option>Problema</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="inputDescricao">Descrição</label>
            <textarea name="inputDescricao" class="form-control" id="inputDescricao" rows="5"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputResponsavel">Responsável</label>
                <select name="inputResponsavel" id="inputResponsavel" class="form-control">
                    <option selected></option>
                    <option>Gabriel</option>
                    <option>Jaison</option>
                    <option>Igor</option>
                    <option>Leonardo</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPrioridade">Prioridade</label>
                <select name="inputPrioridade" id="inputPrioridade" class="form-control">
                    <option selected>Nenhuma</option>
                    <option>Baixa</option>
                    <option>Média</option>
                    <option>Alta</option>
                    <option>Crítica</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputDataAbertura">Data abertura</label>
                <input name="inputDataAbertura" type="date" class="form-control" id="inputDataAbertura">
            </div>
            <div class="form-group col-md-2">
                <label for="inputDataAlvo">Data alvo</label>
                <input name="inputDataAlvo" type="date" class="form-control" id="inputDataAlvo">
            </div>
        </div>

        <button type="submit" class="btn btn-success">Cadastrar chamado</button>
    </form>
</div>